{
  "env": {
    "development": {
      "presets": [
        "env",
        "react-hmre",
        "react",
        "es2015",
        "stage-0"
      ],
      "plugins": ["transform-class-properties"]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            }
          }
        ],
        "react",
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react",
        "es2015",
        "stage-0"
      ],
      "plugins": ["transform-class-properties"]
    }
  }
}

